.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: #e8e8e8;
}

.admin-content {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 992px) {
  .admin-layout {
    flex-direction: column;
  }
}